# ######################################################## #
#            SERVIDOR FIVEM ROLEPLAY - QBCORE              #
# ######################################################## #

# Permisos de Administrador
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_ace group.admin qbcore.god allow
add_ace group.admin qbcore.admin allow
add_ace group.admin qbcore.mod allow
add_ace builtin.everyone "command.admin" allow
add_principal identifier.fivem:1 group.admin

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Base de Datos (MariaDB Local Portable)
set mysql_connection_string "mysql://root@127.0.0.1/qbcoreframework?charset=utf8mb4"

# Clave de Licencia FiveM (Keymaster)
sv_licenseKey "cfxk_ikYVjGHRkKOBLwKCfjBC_4Oe4vT"

# Configuracion del Servidor
sv_hostname "Spain Rol v2.0 Oficial 🇪🇸 | Servidor Roleplay Español | iPhone Pro | Heists | MDT Policial & EMS | Circuitos de Droga"
sets sv_projectName "Spain Rol v2.0 Oficial 🇪🇸"
sets sv_projectDesc "Comunidad exclusiva Spain Rol - FiveM España. Policía Nacional, Sistema Médico 112, Heists, Drogas, Talleres Mecánicos y Más."
sets locale "es-ES"
load_server_icon myLogo.png
sv_maxclients 48
set steam_webApiKey ""

# OneSync (Obligatorio para QBCore)
set onesync on

# Configuracion de Voz 3D y Radio Policial
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly false
setr voice_defaultCycle "Z"
setr voice_enableRadios 1
setr voice_enablePhones 1

# Pantalla de Carga Exclusiva Spain Rol
ensure spain_loadingscreen

# Recursos Base CFX
ensure [cfx-default]

# Recursos Base QBCore y Base de Datos
ensure oxmysql
ensure PolyZone
ensure menuv
ensure qb-core
ensure [standalone]
ensure [qb]
ensure [spain-rol]

